

.about-first {
    margin-top: 70px;
    margin-left: 60px;
    margin-right: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height : 500px;
}

.about-details {
    display: column;
    align-items: center;
    min-width : 75%;
}

.about-welcome {
   background-color: rgb(110, 156, 244) ;
   box-shadow: 2px 2px 6px rgb(110, 156, 244);
   color: #1b365d;
   padding: 10px;
   width: 150px;
   text-align: center;
   border-radius: 10px;
}

.about-details h1 {
    font-size: 60px;
}

.about-btn1 {
    background-color: #1b365d;
    padding: 10px;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    width : 150px;
    text-align: center;
}

.about-btn2 {
    padding: 10px;
    color: #1b365d;
    border: 1px solid black;
    border-radius: 3px;
    margin: 20px;
    width : 150px;
    text-align: center;
}

.about-desc{
    font-size: 20px;
    word-spacing: 5px;
    line-height: 1.6;
    min-width: 75%;
   
    
}
.about-img  img{
    height: 500px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 2px  13px 20px #1b365d;
}


/* sport css here completly */

.sport-first-container {
    margin-left : 60px;
    margin-right : 60px;
    margin-top : 40px;
    display: flex;
    flex-direction: column;
    gap : 10px;
}

.sport-title {
    font-size: 50px;
    font-weight: bold;
    color: black;
}

.sport-description {

}

/*  Business */
.Business-first-container {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
    color: black;
}

.Business-first-container > p {
    margin-top: -10px;
    opacity: 0.6;
}